html, body {
	overscroll-behavior: none;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
  font-family: bmg3, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  text-align: center;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navlinkimg {
  width: 40px;
  height: 32px;
}

.navlinkimg:hover {
  width: 45px;
  opacity: 0.8;
}

.navbuttom {
  width: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbuttom.w--open {
  background-color: #000;
  color: #fff;
}

.navicon {
  padding-right: 40px;
  color: #fff;
  font-size: 40px;
}

.navicon:hover {
  opacity: 0.8;
}

.navimg {
  max-width: 100%;
  font-size: 18px;
}

.navmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 85px 60px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0px;
  background-color: #000;
  opacity: 0.7;
  font-family: 'Minecraftten vgore', sans-serif;
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  color: #fff;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: #fff;
  opacity: 0.7;
  color: #000;
}

.herohome {
  width: 0%;
  height: 0%;
  max-height: 0vh;
  max-width: 0vw;
  background-image: url('../images/turtlesBG.png');
  background-position: 0px 0px;
  background-size: auto;
}

.herohomepage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/1024x768.png');
  background-position: 100% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  font-family: 'Minecraftten vgore', sans-serif;
  color: #000;
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footertext {
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 0.7;
  color: #fff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footertext:hover {
  opacity: 1;
}

.heroshellcheck {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/1024x768.png');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}

.herohomepageheading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  opacity: 0.9;
  font-size: 56px;
}

.herocontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading {
  margin-top: 80px;
  padding-top: 50px;
  font-size: 28px;
}

.herodiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
}

.herocontainer {
  margin-top: 160px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #fff;
  text-align: center;
}

.heroheading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  opacity: 1;
  font-family: bmg3, sans-serif;
  color: #14a02e;
  font-size: 62px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heroheading.h2hero {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 26px;
  font-weight: 400;
}

.heroheading.shellcheck {
  margin-bottom: 20px;
}

.shelldiv {
  font-size: 40px;
  line-height: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.shelltextblock {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  background-color: rgba(20, 160, 46, 0.36);
  font-family: 'Minecraftten vgore', sans-serif;
  color: #000;
  font-size: 40px;
}

.shelltextblock:hover {
  opacity: 0.7;
  color: #fff;
}

.buttom {
  margin: 0px 20px 20px;
  padding: 10px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 4px;
  background-color: rgba(20, 160, 46, 0.36);
  opacity: 0.9;
  color: #000;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.buttom:hover {
  background-color: #fff;
  color: #000;
}

.hero-claim-shell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/1024x768.png');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}

.wl-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/1024x768.png');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}

.cardsdiv {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.cardscontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wlcards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 10px;
  background-color: rgba(40, 87, 40, 0.63);
  color: #fff;
  text-align: center;
}

.divbuttoms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h3-wl-card {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 40px;
  line-height: 36px;
}

.heading-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 24px;
  line-height: 18px;
}

.heading-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
}

.wl-paragraph {
  color: #fff;
  line-height: 18px;
  text-align: center;
}

.image {
  margin-top: 10px;
  border-radius: 20px;
}

.wl-list-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/1024x768.png');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}

.dropdown-project-select {
  overflow: visible;
  width: 50vw;
  max-width: 60vw;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #f8f8f8;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 50vw;
  max-width: 60vw;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 160, 46, 0.37);
  color: #fff;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dropdown-toggle.w--open {
  border-radius: 10px;
}

.dropdown-text {
  overflow: visible;
}

.dropdown-link {
  overflow: auto;
  border-radius: 4px;
  background-color: #135e21;
  color: #fff;
}

.dropdown-link:hover {
  background-color: rgba(255, 255, 255, 0.03);
  color: #000;
}

.wl-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 90vw;
  height: auto;
  max-width: 90vw;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-color: rgba(20, 160, 46, 0.09);
  list-style-type: none;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 80vw;
  height: 40px;
  max-width: 80vw;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0);
  color: #fff;
  line-height: 18px;
  list-style-type: decimal;
}

.list-item:hover {
  background-color: hsla(0, 0%, 100%, 0.29);
  color: #000;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/giphy5.gif');
  background-position: 0px 0px;
  background-size: auto;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .herohomepage {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../images/1024x768.png');
    background-position: 100% 0%;
    background-size: cover;
  }

  .footertext {
    font-size: 32px;
  }

  .heroshellcheck {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/1024x768.png');
    background-position: 0px 0px;
    background-size: cover;
  }

  .herohomepageheading {
    padding-top: 100px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    opacity: 0.9;
    font-family: bmg3, sans-serif;
    color: #fff;
    font-size: 56px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .herocontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .herocontainer {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .wl-list-hero {
    background-position: 0% 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 991px) {
  .navmenu {
    opacity: 0.9;
  }

  .footertext {
    font-size: 24px;
  }

  .hero-claim-shell {
    background-size: cover;
  }

  .cardsdiv {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: stretch;
    grid-auto-flow: row;
    -ms-grid-columns: 3fr 3fr;
    grid-template-columns: 3fr 3fr;
  }

  .wlcards {
    width: 40vw;
  }
}

@media screen and (max-width: 767px) {

  #main-container {
    height: initial;
  }

  .footertext {
    font-size: 22px;
  }

  .herohomepageheading {
    font-size: 48px;
  }

  .heroheading {
    font-size: 56px;
    line-height: 44px;
  }

  .heroheading.h2hero {
    font-size: 24px;
    line-height: 22px;
  }

  .shelltextblock {
    font-size: 32px;
  }

  .cardsdiv {
    -ms-grid-columns: 3fr;
    grid-template-columns: 3fr;
  }

  .wlcards {
    width: 60vw;
  }

  .wl-list-hero {
    background-position: 50% 50%;
    background-size: cover;
  }

  .dropdown-text {
    font-size: 18px;
    line-height: 16px;
  }
}

@media screen and (max-width: 479px) {
  .navmenu {
    margin-right: 10px;
    margin-left: 0px;
  }

  .herohomepage {
    background-position: 50% 100%;
  }

  .herohomepageheading {
    font-size: 42px;
  }

  .herocontainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
  }

  .heroheading {
    font-size: 48px;
    line-height: 42px;
  }

  .heroheading.h2hero {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
  }

  .shelltextblock {
    font-size: 24px;
    line-height: 18px;
  }

  .buttom {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
  }

  .hero-claim-shell {
    background-position: 100% 50%;
    background-size: cover;
  }

  .wl-hero {
    background-position: 50% 50%;
  }

  .cardsdiv {
    width: 80vw;
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
  }

  .wlcards {
    width: 80vw;
  }

  .divbuttoms {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .wl-list-hero {
    background-position: 100% 0%;
  }

  .dropdown-project-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70vw;
    max-width: 80vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .dropdown-toggle {
    width: 90vw;
    max-width: 90vw;
    margin-right: 0px;
    padding-right: 20px;
    border-radius: 4px;
    opacity: 0.9;
  }

  .dropdown-toggle:hover {
    background-color: rgba(255, 255, 255, 0.63);
    color: #000;
  }

  .wl-list {
    padding-left: 0px;
  }

  .list-item {
    font-size: 16px;
    line-height: 14px;
  }

  .dropdown-icon {
    display: none;
  }
}

#w-node-_85c71814-4d04-d6e7-5c82-2fb0992d01ff-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e537f7f6-790d-a9b8-6501-67041042f801-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_61e5980b-15a5-e512-8cf0-d7fbdea37d51-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7e28955a-ef0a-fc4c-a210-1c555aefd553-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_135bf109-c8d6-2873-093d-7055a208b0ac-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8f7358b6-593d-804c-bb44-745c0ca5c41a-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1112c650-a49f-3969-52d3-63f6393ccfd4-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1ea1d59e-1302-66d4-bb0b-afcbd128d9c5-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e93e0408-ef77-445a-6678-7ea43e5d9008-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fb8ac909-42fa-1d61-3a64-13c76be76200-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_509edba5-736f-3e85-7f71-4586fdacfeeb-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_18a885d9-3223-7da8-75d6-f2835d542103-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7e455c50-9daf-7b0b-96d1-18ea6f1f055d-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c42715a2-bde0-0e71-768b-60a416af2a1e-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b440d1f6-cc31-0142-d6ae-4e2198348dd8-eec16b72 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Minecraftten vgore';
  src: url('../fonts/MinecraftTen-VGORe.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bmg3';
  src: url('../fonts/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'nmk1';
  src: url('../fonts/MinecraftBold-nMK1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: '1y1e';
  src: url('../fonts/MinecraftBoldItalic-1y1e.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'r8mo';
  src: url('../fonts/MinecraftItalic-R8Mo.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}