.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  background-color: #000;
  font-family: Minecraft, sans-serif;
  color: #000;
  font-weight: 400;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* max-width: 1180px; */
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  margin-right: auto;
  color: #fff;
  font-size: 24px;
}

.nav-link {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #8ec536;
}

.nav-link.w--current {
  color: #8ec536;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
  color: #fff;
}

.nav-link-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  margin-left: 12px;
  padding: 11px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Group-1.svg');
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  color: #fff;
  text-decoration: none;
}

.nav-link-button:hover {
  opacity: 0.7;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 36px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-link {
  margin-right: 36px;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.social-link:hover {
  opacity: 0.7;
}

.social-link.last-link {
  margin-right: 0px;
}

.container-small {
  max-width: 1004px;
  padding-right: 20px;
  padding-left: 20px;
}

.container-small.alternate {
  max-width: 1122px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-image: url('../images/0020-1.png');
  background-position: 0% 0%; */
  background-size: cover;
  background-repeat: repeat-y;
}

.modal {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 620px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url('../images/Frame-1.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal.modal-stake {
  min-height: 476px;
  background-image: url('../images/Group-20.png');
  background-size: 100% 100%;
  height: 50%;
  text-align: center;
}

.modal.modal-stake-collection {
  min-height: 736px;
  padding: 46px 60px;
  background-image: url('../images/Group-19.png');
  background-size: 100% 100%;
}

.modal-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 364px;
  height: 128px;
  margin: -48px auto 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Frame.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9999;
}

.text-block {
  color: #000;
  font-size: 28px;
  font-weight: 400;
}

.modal-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
}

.image {
  width: 100%;
  height: 100%;
}

.modal-body {
  padding-right: 60px;
  padding-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph {
  font-size: 21px;
  line-height: 1.5;
}

.div-block {
  margin-bottom: 40px;
}

.div-block.text-center {
  text-align: center;
}

.modal-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  font-size: 26px;
}

.field-label {
  font-size: 16px;
}

.form-block {
  padding-top: 12px;
}

.select-field {
  height: 44px;
  border-style: solid;
  border-width: 1px;
  border-color: #cbd5e0;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
}

.modal-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(0px, 22px);
  -ms-transform: translate(0px, 22px);
  transform: translate(0px, 22px);
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-size: 26px;
}

.button.button-mint {
  min-height: 67px;
  min-width: 185px;
  margin-right: 40px;
  background-image: url('../images/Group.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.button.button-mint-stake {
  min-height: 67px;
  min-width: 258px;
  background-image: url('../images/Group-3.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.button.button-claim {
  min-height: 56px;
  min-width: 200px;
  background-image: url('../images/Group-18.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.shells {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  padding-bottom: 40px;
  padding-left: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.shell-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-3 {
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.heading-2 {
  margin-top: 0px;
  font-size: 28px;
}

.text-block-2 {
  font-size: 40px;
  line-height: 1.2;
}

.modal-art-1 {
  position: absolute;
  left: 14%;
  top: -14px;
}

.modal-art-2 {
  position: absolute;
  top: -14px;
  right: 14%;
}

.div-block-4 {
  margin-top: 32px;
}

.grid {
  grid-column-gap: 32px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.stake-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-outline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../images/Group_1.png');
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #000;
  font-size: 17px;
  text-transform: uppercase;
}

.button-outline.margin-right {
  margin-right: 12px;
  background-image: url('../images/Group-1.png');
}

.stakes-collection {
  height: 100%;
  max-height: 538px;
  min-height: 537px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-image: url('../images/Group-7.png');
  background-position: 0px 0px;
  background-size: 100% 100%;
}

.scrollabel {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 28px;
}

.grid-2 {
  grid-column-gap: 4px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.stake-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 4px solid #000;
  -webkit-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
}

.stake-item:hover {
  border-color: #8ec536;
}

.stake-item:active {
  border-color: #8ec536;
}

.stake-item:focus {
  border-color: #8ec536;
}

.stake-item:focus-visible {
  border-color: #8ec536;
}

.stake-item[data-wf-focus-visible] {
  border-color: #8ec536;
}

.text-block-3 {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 4px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.image-3 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.heading-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.div-block-5 {
  padding-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .nav-link-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-menu {
    padding-top: 20px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #000;
  }

  .nav-social-links {
    margin-left: 20px;
  }

  .modal {
    border-right: 10px solid #000;
    border-left: 10px solid #000;
    background-size: cover;
  }

  .modal.modal-stake-collection {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .menu-button {
    background-color: transparent;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .shells {
    margin-bottom: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .modal-art-1 {
    left: 3%;
  }

  .modal-art-2 {
    right: 3%;
  }

  .grid {
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    min-height: 480px;
  }

  .modal.modal-stake {
    border-right-width: 0px;
    border-left-width: 0px;
  }

  .modal.modal-stake-collection {
    border-right-width: 0px;
    border-left-width: 0px;
  }

  .modal-head {
    width: 300px;
    height: 106px;
  }

  .text-block {
    font-size: 22px;
  }

  .paragraph {
    font-size: 14px;
  }

  .div-block {
    margin-bottom: 10px;
  }

  .heading {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
  }

  .button.button-mint {
    min-height: 51px;
    min-width: 146px;
    font-size: 22px;
  }

  .button.button-mint-stake {
    min-height: 51px;
    min-width: 206px;
    font-size: 22px;
  }

  .button.button-claim {
    min-width: 211px;
    margin-right: -16px;
    margin-left: -16px;
  }

  .shells {
    padding-top: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .shell-box {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .image-2 {
    width: 18px;
  }

  .heading-2 {
    font-size: 21px;
  }

  .text-block-2 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .modal-art-1 {
    left: 1%;
  }

  .modal-art-2 {
    right: 1%;
  }

  .image-4 {
    width: 96px;
  }
}

@media screen and (max-width: 479px) {
  .container-small.alternate {
    padding-right: 16px;
    padding-left: 16px;
  }

  .modal.modal-stake {
    border: 10px solid #000;
    background-color: #fff;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }

  .modal.modal-stake-collection {
    padding: 20px;
    border: 10px solid #000;
    background-color: #fff;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }

  .modal-head {
    width: 260px;
    height: 93px;
  }

  .text-block {
    font-size: 20px;
  }

  .modal-body {
    padding-right: 20px;
    padding-left: 20px;
  }

  .modal-footer {
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .button.button-mint {
    min-height: 46px;
    min-width: 124px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .button.button-mint-stake {
    min-height: 46px;
    min-width: 182px;
    font-size: 20px;
  }

  .modal-art-1 {
    display: none;
  }

  .modal-art-2 {
    display: none;
  }

  .stake-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .button-outline {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .button-outline.margin-right {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .grid-2 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/MinecraftBold-nMK1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}